<div class="container"> 
  <div class="col-md-12">
    <div class="card-columns">
      {{#if articles}}
        {{#each articles}}
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src={{image}} alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">{{summary}}</p>
                <a target="_blank" href={{link}} class="btn btn-primary">Travel here!</a>
                <button type="button" class="btn btn-dark mx-auto delete" data-id={{this._id}}>Unsave</button>
                <button type="button" class="btn btn-secondary mx-auto add-note" data-toggle="modal" data-target="#noteModal{{this._id}}" data-id={{this._id}}>Notes</button>
              </div>
          {{/each}}
        {{else}}
          <div class="card">
            <div class="card-header">Get reading!</div>
            <div class="card-body">
              <h5 class="card-title">You haven't saved anything yet.</h5>
              <a href="/" class="btn btn-info">Go somewhere</a>
            </div>
          </div>
      {{/if}}
    </div>
  </div>
</div>


{{#each articles}}
    {{> notes}}
{{/each}}
